@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap");

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
  gap: 5%;

  &--touch {
    position: absolute;

    img {
      position: absolute;
      right: -600px;
      top: -130px;
      rotate: 130deg;
      width: 100px;
    }

    p {
      position: absolute;
      right: -600px;
      top: -190px;
      font-size: 30px;
      font-family: "Delicious Handrawn", cursive;
      font-weight: 400;
      font-style: normal;
    }
  }

  &--left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 576px;

    &__social {
      display: flex;
      gap: 20px;

      a {
        display: flex;
        font-weight: 600;
        cursor: pointer;
        text-decoration: none;
        background-color: #2196f3;
        padding: 10px 20px;
        border-radius: 20px;
        font-size: 14px;
        color: white;
      }
      a:hover {
        background-color: #54aef8;
      }

      button {
        display: flex;
        font-weight: 600;
        cursor: pointer;
        text-decoration: none;
        background-color: #2196f3;
        border: none;
        padding: 10px 20px;
        border-radius: 20px;
        font-size: 14px;
        color: white;
      }
      button:hover {
        background-color: #54aef8;
      }
    }

    h1 {
      font-size: 80px;
      background: #ffffff; /* fallback for old browsers */
      background: -webkit-linear-gradient(
        to right,
        #ff0000,
        #36c6f1
      ); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(
        to right,
        #fc9700,
        #9932cc
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    }

    h2 {
      font-size: 50px;
    }
    p {
      font-size: 20px;
      color: #858585;
    }
  }

  &--right {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 300px;
    }
  }
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  width: 230px;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;

  button {
    background: none;
    border: none;
    color: black;
  }

  button:hover {
    background: none;
  }
}

.close-button {
  position: absolute;
  top: 1px;
  right: -1px;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;

  svg {
    rotate: 0deg;
    transition: all 0.2s ease-in-out;
  }

  svg:hover {
    rotate: 90deg;
    transition: all 0.2s ease-in-out;
    color: #2196f3;
  }
}

@media screen and (max-width: 1230px) {
  .about--touch {
    display: none;
  }
}

@media screen and (max-width: 980px) {
  .about {
    padding-top: 100px;
    flex-direction: column-reverse;
    align-items: center;
    gap: 60px;

    &--left {
      display: flex;
      flex-direction: column;
      gap: 20px;
      max-width: 576px;
      align-items: center;
      text-align: center;

      h1 {
        font-size: 55px;
      }

      h2 {
        font-size: 40px;
      }
      p {
        font-size: 18px;
        padding: 20px;
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .about {
    padding-top: 50px;
  }
}

@media screen and (max-width: 600px) {
  .about {
    gap: 20px;
  }

  .about--left {
    gap: 10px;
  }
  .about--right img {
    width: 250px;
  }
}

@media screen and (max-width: 450px) {
  .about--left__social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
