* {
  padding: 0;
  margin: 0;
}

body {
  color: #000000;
  transition: background-color 0.3s, color 0.3s;

  a,
  h1,
  h2,
  p {
    color: #000000;
  }
}

/* .App--color {
  height: 500px;
  width: 600px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(29, 224, 224, 0.123);
  border-radius: 50%;
  filter: blur(7rem);
  z-index: 100;
} */

.dark-mode {
  background-color: #1b1b1f;
  color: #fff;

  /* .App--color {
    height: 500px;
    width: 600px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(242, 243, 243, 0.123);
    border-radius: 50%;
    filter: blur(7rem);
    z-index: 100;
  } */

  .contact button {
    color: white;
  }

  .navbar {
    background-color: transparent;
  }

  .navbar.colorChange {
    background-color: #1b1b1f;
    border-bottom: 1px solid #eff0f3;
  }

  a,
  h1,
  h2,
  p {
    color: #fff;
  }

  form {
    color: white;
  }

  input::placeholder {
    color: white;
  }

  textarea::placeholder {
    color: white;
  }

  form input,
  form textarea {
    color: white;
  }

  .about--right img {
    z-index: 1;
  }

  .about .about--left p {
    font-size: 20px;
    color: #a3a3a3;
  }

  .about .about--left__social a {
    color: white;
  }

  .about .about--left__social button {
    color: white;
  }

  .projects--cards__card {
    background-color: #202127;
  }

  .projects--cards__card p {
    color: #a3a3a3;
  }

  .projects button {
    color: white;
  }

  .experience__cards--card:hover {
    background-color: #202127;
  }

  .experience__cards--card__right p {
    color: #a3a3a3;
  }

  .experience__cards--card__right a {
    color: #a3a3a3;
  }

  .experience__cards--card__left p {
    color: #a3a3a3;
  }

  .popup-content {
    background-color: #202127;

    button {
      color: white;
    }
  }

  .mobilemenu--content {
    background-color: #202127;

    button {
      color: white;
    }
  }

  .projects--cards__card--language {
    p {
      background-color: #2b2f36;
    }
  }

  .dropdown-content {
    background-color: #202127;

    button {
      color: white;
    }

    button:hover {
      background-color: #2b2f36;
    }
  }

  .mobilemenu--content__links--appearance {
    background-color: #2b2f36;
  }

  .projects--cards__card--img {
    img {
      background-color: #2b2f36;
    }
  }
}
