.skills {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  &--svg {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 20px;
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    p {
      font-size: 12px;
      font-weight: 600;
      padding: 0;
    }
  }

  svg {
    width: 40px;
  }
}

@media screen and (max-width: 980px) {
  .skills--svg {
    grid-template-columns: repeat(3, 3fr);
    gap: 20px;
  }
}
