.skills {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  &--img {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 20px;
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      img {
        width: 38px;
        height: 38px;
        object-fit: contain;
      }
      p {
        font-size: 14px;
        font-weight: 600;
        padding: 0;
      }
    }
  }
}

@media screen and (max-width: 980px) {
  .skills--svg {
    grid-template-columns: repeat(3, 3fr);
    gap: 20px;
  }
}
